<%- include('includes/head', {title: 'Access denied!'}) %>
<link rel="stylesheet" href="/styles/cart.css" />
</head>
<body>

    <%- include('includes/header') %>

<main>
    <div class="area-container">
        <h1 class="topic-font">You are not authenticated to access this page!</h1>
        <a class="normal-font anchor" href="/log-in">Back to products</a>
    </div>
</main>
</body>
</html>
