        <%- include('includes/head', {title: 'Shopping Cart'}) %>
        <link rel="stylesheet" href="/styles/cart.css" />
    </head>
    <body>

            <%- include('includes/header') %>

        <main>
            <div class="area-container">
                <h1 class="topic-font">Something went wrong!</h1>
                <a class="normal-font anchor" href="/log-in">Back to safety</a>
            </div>
        </main>
    </body>
</html>
