<div class="header">
    <div id="logo" class="topic-font">WDE</div>
    <ul class="header-actionbar">
        <% if(locals.isAdmin){ %>
        <li class="header-actionbar-items normal-font">
            <a class="anchor" href="">
                Manage Products
            </a>
        </li>
        <li class="header-actionbar-items normal-font">
            <a class="anchor" href="">
                Manage Orders
            </a>
        </li>
        <% } else { %>
        <li class="header-actionbar-items normal-font">
            <a class="anchor" href="">
                Shop
            </a>
        </li>
        <li class="header-actionbar-items normal-font">
            <a class="anchor" href="/cart">
                Cart
            </a>
            <div class="normal-font cart-counter">
                2
            </div>
        </li>
        <% } %>
        <% if(!locals.isAuth){ %>
            <li class="header-actionbar-items normal-font">
                <a class="anchor" href="/sign-up">
                    Sign-up
                </a>
            </li>
            <li class="header-actionbar-items normal-font">
                <a class="anchor" href="/log-in">
                    Log-in
                </a>
            </li>
        <% } else { %>
        <li class="header-actionbar-items normal-font">
            <form action="/log-out" method="POST">
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <button class="normal-font" id="logout">
                    Logout
                </button>
            </form>
        </li>
        <% } %>
    </ul>
</div>
<hr />