<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: 'New Product'}) %>
        <link rel="stylesheet" href="/styles/add-product.css" />
    </head>
    <body>
        <header>
            <%- include('includes/header') %>
        </header>
        <main>
            <div class="area-container">
                <h1 class="topic-font">Add New Product</h1>
                <form class="input-form" action="">
                    <ul>
                        <li class="input-field">
                            <label for="title" class="input-label normal-font"
                                >title</label
                            >
                            <input
                                type="text"
                                id="title"
                                name="title"
                                class="text-input"
                            />
                        </li>
                        <li class="input-field">
                            <label for="product-image"> Image</label>
                            <input
                                type="file"
                                name="product-image"
                                id="product-image"
                            />
                        </li>
                        <li class="input-field">
                            <label for="summary" class="input-label normal-font"
                                >summary</label
                            >
                            <input
                                type="text"
                                id="summary"
                                name="summary"
                                class="text-input"
                            />
                        </li>
                        <li class="input-field">
                            <label for="price" class="input-label normal-font"
                                >price</label
                            >
                            <input
                                type="number"
                                id="price"
                                name="price"
                                class="text-input"
                                step="10"
                            />
                        </li>
                        <li class="input-field">
                            <label
                                class="normal-font input-label"
                                for="description"
                                >description</label
                            >
                            <textarea
                                class="text-input normal-font"
                                name="description"
                                id="description"
                            ></textarea>
                        </li>
                        <li class="input-field action-container">
                            <button type="reset" class="normal-font">
                                Reset
                            </button>
                            <button class="normal-font">Save</button>
                        </li>
                    </ul>
                </form>
            </div>
        </main>
    </body>
</html>
