<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: 'Product Details'}) %>
        <link rel="stylesheet" href="/styles/item-details.css" />
    </head>
    <body>
        <header>
            <%- include('includes/header') %>
        </header>
        <main>
            <div class="area-container">
                <div class="box-shadow item-image-summary-container">
                    <div class="item-image-container">
                        <img class="box-shadow" src="../images/products/ipad.jpeg" alt="" />
                    </div>
                    <div class="item-summary-container">
                        <div class="summary-container">
                            <h1 class="item-name topic-font">iPad</h1>
                            <p class="item-price normal-font">$50</p>
                        </div>
                        <form action="/buy-item">
                            <button class="normal-font add-to-cart-submit">Add to Cart</button>
                        </form> 
                    </div>
                </div>
                <div class="box-shadow item-description-container">
                    <p class="normal-font">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Nulla facilis possimus, dolores iure hic necessitatibus
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
