<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head', {title: 'products'}) %>
        <link rel="stylesheet" href="/styles/products.css" />
    </head>
    <body>
        <header>
            <%- include('includes/header') %>
        </header>
        <main>
            <div class="area-container">
                <h1 class="topic-font">Product Administration</h1>
                <h3 class="topic-font">Manage Products</h3>
                <h1 class="topic-font">All Products</h1>
                <a class="normal-font add-product-button" href="">Add Product</a>
                <ul class="products-container">
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="../images/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                    <!-- <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="../images/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                    <!-- <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="../images/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                    <!-- <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="../images/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                    <!-- <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="../images/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                    <!-- <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="../images/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                    <!-- <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="../images/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                    <!-- <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="../images/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                    <!-- <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a> -->
                                </div>
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </main>
    </body>
</html>
