<header>
<div class="header">
    <div id="logo" class="topic-font">WDE</div>
    <nav>
        <ul id="wide-menu" class="header-actionbar">
            <%- include('nav-items') %>
        </ul>
    </nav>
    <button id="aside-toggler" class="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>
<hr>
    <aside id="aside" class="hidden">
        <nav>
            <%- include('nav-items') %>
        </nav>
    </aside>
</header>