.area-container {
    width: 50%;
}
.orders-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.order-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3c3834;
    padding: 0.75rem 0.75rem 1rem 0.75rem;
    color: rgb(198, 198, 198);
    border-radius: 4px;
}
.order-items {
    color: rgba(201, 201, 201, 0.647);
    font-weight: 400;
    margin: 0 0 0 1rem;
}
.order-price-date-container {
    margin: 0 0 0.5rem 0;
}
.order-price {
    color: #d59231;
}
.order-status {
    background-color: #ff9d14;
    color: white;
    height: 1.5rem;
    padding: 0 0.75rem 0.2rem 0.75rem;
    border-radius: 12px;
    font-weight: 300;
    font-size: 1.25rem;
}
.actions-container {
    margin-top: 1rem;
}
.order-management-form {
    align-items: center;
    margin: 0;
}
.order-management-form > select {
    height: 2rem;
    border-radius: 4px;
}
.order-management-form > button {
    color: #ffb54f;
    border: 1px solid #ffb54f;
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border-radius: 4px;
    vertical-align: top;
}
.order-management-form > button:hover,
.order-management-form > button:focus {
    border: 1px solid #ff9d14;
    color: #ff9d14;
    cursor: pointer;
}
.buyer-address p {
    margin: 0.25rem;
}
.buyer-address p a {
    color: rgb(198, 198, 198);
    text-decoration: none;
}
.buyer-address p a:hover,
.buyer-address p a:active {
    color: rgb(163, 163, 163);
}