.area-container {
    width: 80%;
    max-width: 56.9696rem;
}
.products-container {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.products-container li {
    width: 14rem;
    margin: auto;
}
.product-box {
    width: 14rem;
    margin: auto;
    overflow: hidden;
    color: rgb(173, 173, 173);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 4px;
    background-color: #1c1a18;
}
.product-image {
    width: 14rem;
    height: 10rem;
    object-fit: cover;
}
.product-summary {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.product-summary > p {
    margin: 0 auto 0.75rem auto;
}
.action-container > .anchor {
    border: 1px solid #ffb54f;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 4px;
    margin: auto;
    font-weight: 300;
}
.action-container > .anchor:hover,
.action-container > .anchor:focus {
    border: 1px solid #ff9d14;
}
.action-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.add-product-button {
    background-color: #ff9d14;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 0.40rem 1rem;
    color: rgb(235, 235, 235);
}
.add-product-button:hover,
.add-product-button:focus{
    background-color: #dd8408;
    cursor: pointer;
}
#products-header-container{
    color: rgb(173, 173, 173);
    padding: 2rem 1rem 1rem 1rem;
}
#products-header-container h2{
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
}
#products-header-container h4 {
    font-weight: 500;
    font-size: 1rem;
    margin: 0.25rem 0;
}
#products-header-container a {
    display: inline-block;
    margin-top: 1rem;
}
@media (min-width: 768px){
    .products-container {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .product-box {
        margin: auto;
        overflow: hidden;
        color: rgb(173, 173, 173);
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 4px;
        background-color: #1c1a18;
    }
    .product-image {
        height: 10rem;
        object-fit: cover;
    }
}

@media (min-width: 960){
    .product-box {
        width: 15rem;
    }

    .product-image {
        width: 18rem;
    }
}