<%- include('../../shared/includes/head', {title: 'products'}) %>
<meta name="description" content="Our new products! Free shipment for orders over 300$!">
<link rel="stylesheet" href="/styles/products.css" />
<script src="/scripts/product-management.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
<main>
    <div class="area-container">
        <section>
            <ul class="products-container">
                <% for (const product of products){ %>
                    <li>
                        <%- include('../../shared/includes/product-box', {product:product}) %>
                    </li>
                <% } %>
            </ul>
        </section>
    </div>
</main>
<%- include('../../shared/includes/footer') %>

