        <%- include('../../shared/includes/head', {title: 'products'}) %>
        <link rel="stylesheet" href="/styles/products.css" />
    </head>
    <body>
            <%- include('../../shared/includes/header') %>
        <main>
            <div class="area-container">
                <ul class="products-container">
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </main>
        <%- include('../../shared/includes/footer') %>

