        <%- include('../../shared/includes/head', {title: 'Orders'}) %>
        <link rel="stylesheet" href="/styles/orders.css" />
    </head>
    <body>
            <%- include('../../shared/includes/header') %>
        <main>
            <div class="area-container">
                <h1 class="topic-font">All Your Orders</h1>
                <div class="orders-container">
                    <div class="order-container normal-font">
                        <div class="order-details-container">
                            <div class="order-details-top">
                                <p class="order-price-date-container">
                                    <span class="order-price">100$</span>
                                    -
                                    <time datetime="">Thu, aug 17, 2024</time>
                                </p>
                            </div>
                            <div class="order-details-bottom">
                                <ul class="order-items">
                                    <li>
                                        <span>iPad</span>
                                        -
                                        <span>100$</span>
                                        <span>
                                            (
                                                <span>$50</span>
                                                X
                                                <span>2</span>
                                            )
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="order-status">pending</div>
                    </div>
                    <div class="order-container normal-font">
                        <div class="order-details-container">
                            <div class="order-details-top">
                                <p class="order-price-date-container">
                                    <span class="order-price">100$</span>
                                    -
                                    <time datetime="">Thu, aug 17, 2024</time>
                                </p>
                            </div>
                            <div class="order-details-bottom">
                                <ul class="order-items">
                                    <li>
                                        <span>iPad</span>
                                        -
                                        <span>100$</span>
                                        <span>
                                            (
                                                <span>$50</span>
                                                X
                                                <span>2</span>
                                            )
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="order-status">pending</div>
                    </div>
                    <div class="order-container normal-font">
                        <div class="order-details-container">
                            <div class="order-details-top">
                                <p class="order-price-date-container">
                                    <span class="order-price">100$</span>
                                    -
                                    <time datetime="">Thu, aug 17, 2024</time>
                                </p>
                            </div>
                            <div class="order-details-bottom">
                                <ul class="order-items">
                                    <li>
                                        <span>iPad</span>
                                        -
                                        <span>100$</span>
                                        <span>
                                            (
                                                <span>$50</span>
                                                X
                                                <span>2</span>
                                            )
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="order-status">pending</div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../../shared/includes/footer') %>

