        <%- include('../../shared/includes/head', {title: 'New Product'}) %>
        <link rel="stylesheet" href="/styles/add-product.css" />
        <script src="/scripts/image-preview.js" defer></script>
    </head>
    <body>
            <%- include('../../shared/includes/header') %>
        <main>
            <div class="area-container">
                <h1 class="topic-font">Add New Product</h1>
                <%- include('../../shared/includes/product-form', {submitPath: '/admin/products', product:{
                    title: '',
                    summary: '',
                    price: '',
                    description: '',
                }, imageRequired: true}) %>
            </div>
        </main>
    <%- include('../../shared/includes/footer') %>
