        <%- include('../../shared/includes/head', {title: 'products'}) %>
        <link rel="stylesheet" href="/styles/products.css" />
    </head>
    <body>
            <%- include('../../shared/includes/header') %>
        <main>
            <div class="area-container">
                <div id="Products-header-container">
                    <h2 class="topic-font">Product Administration</h1>
                    <h4 class="topic-font">Manage Products</h3>
                    <h2 class="topic-font">All Products</h1>
                    <a class="normal-font add-product-button" href="/admin/products/add">Add Product</a>
                </div>
                <ul class="products-container">
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box box-shadow">
                            <img class="product-image" src="/products//ipad.jpeg" alt="">
                            <div class="normal-font product-summary">
                                <p>iPad</p>
                                <div class="action-container">
                                    <a class="anchor" href="">View & Edit</a>
                                    <a class="anchor" href="">Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </main>
        <%- include('../../shared/includes/footer') %>

